* {
    font-family: 'Do Hyeon', sans-serif;
}

#EcosystemCanvas {
    border: 1px solid black;
}

.displayBarContainer {
    background-color: #ebebeb;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.displayBar {
    padding: 5px;
    transition: width 0.1s ease;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
    font-family: 'Do Hyeon', sans-serif;
}

.greenBorder {
    border: #00CC66 1px solid;
}

.redBorder {
    border: #931621 1px solid;
}

.displayButtons {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.flex-row-justify{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.flex-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;

}

#perceptionDisplay {
    background-color: #6DA34D;
}

#speedDisplay {
    background-color: #56445D;
}

#sizeDisplay {
    background-color: #548687;
}

#foodDisplay {
    background-color: #8FBC94;
}

#dangerDisplay {
    background-color: #C5E99B;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

#carnivoreButton {
    background-color: #931621;

}

#herbivoreButton {
    background-color: #00CC66;
    display: none;
}

#central-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restart-button {
    background-color: #FFAE03;
    margin: 10px;
}

#EcosystemCanvas {
    box-shadow: 10px 11px 15px 0px #384858;
    border-radius: 5px;
}

.copyright {
    text-align: center;
}

#carnivoreDisplay {
    background-color: #931621;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    margin:0;

}

#herbivoreDisplay {
    background-color: #00CC66;
    border-radius: 5px;
    width: 100%;
    padding: 0;

}

.cronch-click {
    transition: transform ease 100ms;
}

.cronch-click:active {
    transform: scale(0.95);
}

#addCarnivore {
    background-color: #931621;
    outline: none;

}

#addHerbivore {
    background-color: #00CC66;
    outline: none;
}